
<div id="upload">
  <h2>Upload Image</h2>
  <p>PNG Only</p>
  <form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" />
    <input type="submit" class="green" value="Upload" />
  </form>
</div>