<html>
  <head>
    <title>Node.JS MongoDB S3 Demo</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="container">
      <%- body %>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>